table td {
  padding: 5px 0;
}
.custom-btn-wrap {
  font-size: 12px;
  padding-left: 28px;
}
.checkmark {
  height: 16px;
  width: 16px;
}
a.orange {
  font-weight: 600;
}
.custom-btn-wrap .checkmark:after {
  left: 5px;
  top: 0px;
}
