.pending strong {
  color: #1a7de2;
}
.cancelled {
  border-color: #fb4657;
}
.cancelled .btn {
  background-color: #fb4657;
  color: #fff;
}
.cancelled strong {
  color: #fb4657;
}
.delivered {
  border-color: #07ca7b;
}
.delivered strong {
  color: #07ca7b;
}
.delivered .btn {
  background-color: #07ca7b;
  color: #fff;
}
small {
  color: #a4a4a4;
}
ul.order-filter {
  text-align: right;
}
ul.order-filter li {
  display: inline-block;
  padding: 0 0 0 30px;
  position: relative;
}
ul.order-filter li:not(:last-child):after {
  position: absolute;
  content: "";
  height: 13px;
  width: 1px;
  background: #a4a4a4;
  top: 4px;
  right: -18px;
}
ul.order-filter li.active a {
  color: #ff812c;
}
table.order-item tr td {
  padding: 5px 0;
}
table.order-item tr td:last-child {
  text-align: right;
}
table.order-item tr:last-child td {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0;
}
.order-process {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 50px 0 10px;
}
.order-process > div {
  margin: 0 10px;
  min-width: 140px;
  text-align: center;
  color: #ccc;
}
.order-process > div > div {
  width: 100%;
  height: 7px;
  background-color: #ccc;
  margin-bottom: 20px;
}
.order-process > div.active {
  color: #1a7de2;
  font-weight: 600;
}
.order-process > div.active > div {
  background-color: #1a7de2;
}
