.img-wrap {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
}
.img-detail {
  width: calc(100% - 100px);
  padding-left: 20px;
}
.review .row {
  padding: 20px 0;
}
.review .row > div {
  position: relative;
}
.review .row > div:not(:last-child):after {
  height: 100%;
  width: 1px;
  background-color: #e3e3e3;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.review .row.review-title > div:not(:last-child):after {
  display: none;
}
.btn {
  display: inline-flex;
  align-items: center;
}
#reviewModal .modal-dialog {
  max-width: 780px;
}
#reviewModal .table td {
  border-top: none;
  border-bottom: 1px solid #e3e3e3;
  vertical-align: middle;
}
#reviewModal .table td:first-child {
  max-width: 300px;
}
